#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Video Wallpaper
Exec=gpu-video-wallpaper.py
Icon=wallpaper
Comment=Set video files as your desktop wallpaper.
Categories=Utility
Terminal=false
Name[de_DE]=gpu-video-wallpaper.desktop
